body {
    background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-position-y: -22.5rem, +31.5rem;
    background-position-x: -2.9rem, +58rem;
    background-color: hsl(185, 75%, 39%);
    height: 100vh;
    margin: 0;
    padding: 0;
}