body {
    background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-position: right calc(47vw + 15%) bottom calc(65vh - 15vw), left calc(40vw + 25%) top calc(72vh - 15vw);
    background-color: hsl(185, 75%, 39%);
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
}

.card {
    border-radius: 15px;
    max-width: 350px;
    background-color: white;
    height: 375px;
    box-shadow: 0 20px 50px 15px hsla(229, 23%, 23%, 0.25);
}

.card-description {
    position: relative;
    top: -48px;
}

.header-image img {
    border-radius: 15px 15px 0 0;
}

.image-container {
    max-width: fit-content;
    margin-left: 7.6rem;
    border-radius: 50%;
    background-color: white;
}

.image-container img {
    border-radius: 50%;
    border: 5px solid white;
    border-radius: 50%;
}

.user-info {
    text-align: center;
    color: hsl(0, 0%, 59%);
}

.user-name {
    font-size: 18px;
    color: hsl(229, 23%, 23%);
}

.user-city {
    font-size: 14px;
}

.user-age {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    margin-left: 0.3rem;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, minmax(40px, 1fr));
    text-align: center;
    margin: 0 1.5rem 0 1.5rem;
}

.line {
    background-color: lightgray;
    height: 0.5px;
    width: 100%;
    margin: 1.5rem 0 1.5rem 0;
}

.stat {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.stat-number {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    font-size: 18px;
}

.stat-name {
    font-size: 11px;
    color: hsl(227, 10%, 46%);
    letter-spacing: 0.08rem;
}
